<div class="profile-container">

    <div class="welcome-container">
        <h2>Welcome {{}} {}}</h2>
    </div>

    <div class="profile-card">

        <img src="../img/upload.png" alt="">
        <a href="/user/upload-photo">Upload Photo</a>

    </div>
    <div class="profile-card">

        <img src="../img/password.png" alt="">
        <a href="/user/change-password">Change Password</a>
    </div>
    <div class="profile-card">

        <img src="../img/tasks.png" alt="">
        <a href="/task/dashboard">Tasks</a>
    </div>        

</div>