<div class="profile-container">
                        
    <div class="profile-card">

        <img src="../img/upload.png" alt="">
        <a href="/user/upload-photo">Upload Phpto</a>

    </div>
    <div class="profile-card">

        <img src="../img/password.png" alt="">
        <a href="/user/changeassword.html">Change Password</a>
    </div>
    <div class="profile-card">

        <img src="../img/tasks.png" alt="">
        <a href="taskDashboard.html">Tasks</a>
    </div>        

</div>